.orientation-gizmo-layer {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  width: 224px;
  height: 224px;
}

.orientation-gizmo-layer canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
}
